// System files
.DS_Store
/notebooks/.ipynb_checkpoints

// Directories
/data
/dc
/api/node_modules
/api/seed

// Project files
/neo4j/create_nodes.cyp
/dc/*.csv
/api/README.md
/api/Dockerfile
/api/.dockerignore
/api/