// System files
.DS_Store
/notebooks/.ipynb_checkpoints

// Directories
/data
/dc
/api/build
/api/img
/api/node_modules
/api/src/seed
/aws


// Project files
/neo4j/create_nodes.cyp
/dc/*.csv
/api/README.md
/api/Dockerfile
/api/.dockerignore
/api/
*.pem